<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="net.daum.view.model.Category" alias="Category"/>
		<typeAlias type="net.daum.view.model.Tab" alias="Tab"/>
		<typeAlias type="net.daum.view.model.Date" alias="Date"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper-category.xml" />
	</mappers>
</configuration>